<li class="comment-box">
    <ul>
        <li class="comment-author"> author: <%=comment.user_name%></li>
        <li class="comment-time-stamp"> posted: <%=comment.time_stamp%></li>
        <li class="comment-body" id="<%=comment.id%>"><%=comment.body%></li>
        <li class="comment-controls">
            <% if (comment.userViewing === comment.user_name) {%>
                <%-<ul>%>
                    <%-<li><button class="post-control" onclick="deleteComment(id.id)"> edit </button></li>%>
                    <%-<li><button class="post-control" onclick="editComment(id.id)"> delete </button></li>%>
                <%-</ul>%>
            <%}%>
        </li>
    </ul>
</li>