<li  class="mainlist">
    <div class="postbox">
        <ul>
            <li class="title"><a href="./posts/id" class="post"><%=post.title%></a></li>
            <li class="topic"><a href="/topic/<%=post.topic%>">topic: <%=post.topic%></a></li>
            <li class="author"><a href="./user/id" class="username">author: <%=post.user_id%></a></li>
            <li class="timestamp">posted: <%=post.time_stamp%></li>
        </ul>
    </div>
</li>