<li  class="mainlist">
    <div class="postbox">
        <ul>
            <li class="title"><a href="/posts/<%=post.id%>" class="post"><%=post.title%></a></li>
            <li class="topic"><a href="/topics/<%=post.topic%>">topic: <%=post.topic%></a></li>
            <li class="author"><a href="/users/<%=post.user_name%>" class="username">author: <%=post.user_name%></a></li>
            <li class="timestamp">posted: <%=post.time_stamp%></li>
        </ul>
    </div>
</li>