<!DOCTYPE html>
<head>
    <%- include('partials/head') %>
</head>

<body onload="addCommentControls()">
    <%- include('partials/navbar') %>     <!-- make sure not to use a leading / -->
    <div class="main body text">
        <%-include('partials/postbox', { post })%>
        <div class="post-body">
            <textarea class="post-body" readonly id="body"><%=post.body%></textarea>
        </div>
        <%if (post.user_name === post.userViewing) {%><%-include('partials/postControls')%><%}%>
    </div>
    <p class=" comment-separator">comments</p>
    <%if (post.userViewing) {%><%-include('partials/postComment')%><%}%>
    <div class="comments">
        <% post.comments.forEach(comment => { comment.userViewing = post.userViewing %><%-include('partials/commentBox', {comment: comment})%><%}) %> 
    </div>
</body>