<!DOCTYPE html>
<head>
    <%-include('partials/head')%>
    <script>
        function submitForm() {
            let myForm = document.getElementById("post-form");
            let formData = new FormData(myForm);
            fetch('/submit/post', {
                method: 'POST',
                body: formData
            }).then(console.log('success!'))
            .catch(err => console.warn(err));
        }
    </script>
</head>

<body>
    <%-include('partials/navbar')%>     <!-- make sure not to use a leading / -->
    <div class="main body text">
        <div class="post-header">
            <p class="title"> <%=post.title%> </p>
            <a href="/user/<%=post.user_name%>"class="author">author: <%=post.user_name%></a>
            <p class="timestamp">posted: <%=post.time_stamp%></p>
        </div>
        <div class="post-body">
            <p><%=post.body%></p>
        </div>
        <%if (post.userLoggedIn) {%><%-include('partials/postControls')%><%}%>
    </div>
    <p class=" comment-separator">comments</p>
    <form id="post-form" method="post" onsubmit="submitForm()" enctype="application/x-www-form-urlencoded">
        <ul>
            <label for="add-comment">add a comment!</label>
            <li><textarea id="comment" name="comment" class="comment" type="text" rows="10" cols="80" maxlength="1000"></textarea></li>
            <li><input type="submit" value="submit"></li>
        </ul>
    </form>
    <div class="comments">
        <% post.comments.forEach(comment => {%><%-include('partials/commentBox', {comment: comment})%><%}) %>
    </div>
</body>